


/* External custom fonts */
@font-face {
    font-family: 'Graphik';
    src:    url('https://1024szer768.hu/fonts/Graphik-Regular-Web.eot') format('embedded-opentype'),
            url('https://1024szer768.hu/fonts/Graphik-Regular-Web.woff2') format('woff2'),
            url('https://1024szer768.hu/fonts/Graphik-Regular-Web.woff') format('woff');
}

/* custom properties */
:root {
  /* background color */
  --bg-color-primary: #0F1941;
  --bg-color-secondary: #6BA5B4;
  --bg-color-blue: #2175D9;=

  /* text color */
  --text-color-primary: #0F1941;
  --text-color-primary-hover: #999;
  --text-color-blue: #2175D9;
  --text-color-darkblue: #0F1941;
  --text-color-red: #E74536;

  /* button colour */
  --bg-button-primary: #fff;
  --bg-buttom-primary-hover: #286090;

}

/* sets Gr8P container width to auto
/* to allow full width elements */
.portal-region.portal-region-dynamic, .portal-region.portal-region-form, .portal-region.portal-region-list {
    max-width: 1140px;
    margin: 0 auto;
}
.portal-container-columns {
	max-width: 1140px;
	margin: 0 auto;
}
*:not(.portal-container-columns) > .portal-container {
    width: auto;
}

.portal-region-form li {
  font-size: 12px;
}

.portal-region-form h3 {
    font-family: Verdana!important;
    margin-bottom: 0px;
    text-transform: none;
    font-size: 20px;
}

section.job-aside-item {
    margin: 0 0 20px 0;
}

section.job-posting {
    margin: 0px;
}

section.job-posting h1.job-title {
    font-family: Arial;
    font-size: 30px;
    margin: 10px 0;
    line-height: 30px;
}

section.job-posting p{
    font-family: Arial;
    font-size:15px;
    color: #000;
    line-height: 20px;
}

section.job-posting ul{
    list-style-type: disc;
}

section.job-posting h3.job-locations, section.job-aside-item h3 {
    font-family: Arial;
    font-size:18px;
    color: #000;
    text-transform: none;
    margin-bottom: 10px;
}

section.job-aside-item p {
    font-family: Arial;
    font-size: 16px;
}

/* makes scrolling smooth */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Graphik!important;
    color: var(--text-color-primary);
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

/* each page component is wrapped in a section tag */
section {
    margin: 80px 0 80px 0;
    overflow: auto;
}
/* the container gives a max width to content */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* typography */

h1 {
    font-size: 56px;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 20px;
    line-height:60px;
	  margin-top: 0px;
    margin-bottom: 0px;
}


h2 {
    font-size: 56px;
    font-weight: 400;
    line-height:60px;
    letter-spacing: -3px;
  	margin-top: 0px;
    margin-bottom: 30px;

}



h3 {
    font-size: 26px;
    line-height: 30px;
    font-weight: lighter;
    letter-spacing: -1px;
	   margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 50px;

}

.col.two-thirds h3 {
	font-size: 32px;
    line-height: 40px;
	}

.col.one-fourth h4 {
	 margin-top: 0px;
    margin-bottom: 20px;
	}

.card-body h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	}

h4 {
    font-size: 26px;
    font-weight: 400;
    line-height:30px;
}

p {
	line-height: 30px;
	font-size: 18px;
	margin-top: 30px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

.margin-top {
  margin-top: 30px;
}

.list-border li{
  border-bottom: 1px solid #D7D7D7;
  padding-bottom: 25px;
  padding-top: 25px;
}

.list-background li{
  background-color: #F7F5F0;
  padding-left: 15px;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  margin-right: 20px;

}


li {
	font-size: 26px;
	letter-spacing: -1px;
}

ul {
    list-style-type: none;
	padding-inline-start: 0px;
}

/* GRID */
.row {
    display: flex;
    flex-wrap: nowrap;
}

.col {
    flex: 1;
}

.col.one-fourth {
flex-basis: 25%;
min-width: 320px;
max-width: 360px
}
.col.two-thirds {
flex-basis: 66%;
min-width: 360px;
}
.col.two-thirds img{
  padding-left: 20px;
flex-basis: 66%;
max-width: 700px;
}

/* ******************************************* */
/* **************** Utilities **************** */
/* ******************************************* */

/* ******** TEXT CENTERED ********** */
.text-center {
    text-align: center!important;
}

.text-left {
    text-align: left!important;
}

/* ******** MARGIN 0 ******** */
.mb-0 {
    margin-bottom: 0!important;
}
.mb-60 {
  margin-bottom: 60px;
}


.mt-0 {
    margin-top: 0px;
}
.mb-80 {
    margin-bottom: 80px;
}

.mt-53 {
  margin-top: 53px;
}

.mb-30 {
    margin-bottom: 30px;
}


.mb-60 {
    margin-bottom: 60px;
}

.mt-80 {
    margin-top: 80px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.pt-0 {
    padding-top: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.pt-20 {
    padding-top: 20px;
}

.pr-130 {
  padding-right: 130px;
}

.padding-80 {
	padding-bottom: 80px;
	padding-top: 80px;
}

/* ******** NO BORDER ********** */
.no-border {
    border: none!important;
}

.rounded-border {
    border-radius: 6px!important;
}

/* text colour */
.text-white {
    color: #fff!important;
}

.text-color-blue2 {
  color: #6BA5B4;
}
.text-black {
    color: black!important;
}
.text-navyblue{
  color:#0F1941!important;
}
.text-red {
    color: #E74536!important;
}
.text-lightblue {
    color: #2175D9!important;
}

.text-blue {
    color: var(--text-color-blue)!important;
}

.p.text-blue{
  padding-bottom: 0px;
}
.text-primary {
    color: var(--text-color-primary)!important;
}

/* background colours */
.bg-primary {
    background-color: var(--bg-color-primary)!important;
}

.bg-blue {
    background-color: var(--bg-color-blue)!important;
}

/* ******************************************* */
/* *************** Components **************** */
/* ******************************************* */

/* *********** HEADER ************ */
header {
    display: block;
    background: #fff;
}

.navbar {
    padding-top: 17.5px!important;
    padding-bottom: 12.5px!important;
    display: flex;
    flex-wrap: nowrap;
    align-items:center;
}
.navbar-banner {
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    flex-wrap: nowrap;
    align-items:center;
    height: 47px;
}

.navbar-brand {
    display: inline-block;
    margin-right: 1rem;
    font-size: 16px;
    line-height: inherit;
    white-space: nowrap;
    flex: 1;
    position: relative;
}
.navbar-brand-banner {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: 0px;
    white-space: nowrap;
    flex: 1;
    position: relative;
}

.nav-border {
  border-bottom: 1px solid #fff;
  padding-bottom: 25px;
}

.nav-border-banner {
  border-bottom: 1px solid #fff;
}
.navbar-menu a {
  display: inline-block;
	color: #fff;
	text-align: right;
	font-size:20px;
	margin-right:10px;
  text-decoration: none;
}


.navbar-menu a:last-of-type {
	margin-right:0px;
	margin-left: 30px;
}

.row-content{
  justify-content: flex-end;
  display: flex;
  flex-wrap: nowrap;
}

.justify-center {
  justify-content: center;
}


/* ********** logo ************* */
.navbar-brand img {
    height: 30px;
    margin-left: 0;
    display: inline-block;
    margin-top: 10px;
}
/* when svg is used */
.navbar-brand svg {
    fill: var(--text-color-primary);
    height: 30px;
}

/* ************ HERO ************* */
section.hero {
	height: auto;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
section.hero-content {
    background-size: 442px 228px!important;
    background-repeat: no-repeat!important;
    background-image: url(https://randstaddirect.gr8people.com/index.gp?method=cappservices.getPublicImage&cdn=cbecc66689c106c2732b7f95a681fc7eb3f70a1c&cid=248&type=1);
    background-position:left bottom;
}


/* ************ HERO-CUSTOM-BANNER ************* */


.gt-hero {

    background-size: auto;
    background-repeat: no-repeat;
	background-color: #0F1941;
}

.hero_1_home {
        background: url(https://randstaddirect.gr8people.com/index.gp?method=cappservices.getPublicImage&cdn=8633673ffc1390bd38eba2af0d3a07fd0c92e56e&cid=248&type=1);
}

.hero_2_home {
    background: url(https://randstaddirect.gr8people.com/index.gp?method=cappservices.getPublicImage&cdn=106b6e1b5fefd39ae35eb91a910d3853ce3a0b4f&cid=248&type=1);
}

.data{
    background: url(https://randstaddirect.gr8people.com/index.gp?method=cappservices.getPublicImage&cdn=8200a32ff26d41014d7f60034019882dcb0dd2e2&cid=248&type=1);
}

.data_2{
    background: url(https://randstaddirect.gr8people.com/index.gp?method=cappservices.getPublicImage&cdn=1c90c805b5fedc42ffb6660922a60a6e49634d95&cid=248&type=1);
}

.data_3{
    background: url(https://randstaddirect.gr8people.com/index.gp?method=cappservices.getPublicImage&cdn=4925952af1aeb149d7036a05a4ba5f885e69e9ab&cid=248&type=1);
}

.it{
    background: url(https://randstaddirect.gr8people.com/index.gp?method=cappservices.getPublicImage&cdn=f840a9183a40b92990677efe47ccb614a1029898&cid=248&type=1);
}

.it_2{
    background: url(https://randstaddirect.gr8people.com/index.gp?method=cappservices.getPublicImage&cdn=9e4e9c33d17142261deb24ee62811d40ed88baea&cid=248&type=1);
}

.industrial{
    background: url(https://randstaddirect.gr8people.com/index.gp?method=cappservices.getPublicImage&cdn=2bcdca65e15820d78053cbaf876b4b021116416c&cid=248&type=1);
}

.industrial_2{
    background: url(https://randstaddirect.gr8people.com/index.gp?method=cappservices.getPublicImage&cdn=1c45a722258c2aa68a93dc5bcd230a1737ca0650&cid=248&type=1);
}

.finance{
    background: url(https://randstaddirect.gr8people.com/index.gp?method=cappservices.getPublicImage&cdn=7ac33c4416e6f6b5c6a9b6a9922d8fd2dda2f612&cid=248&type=1);
}

.finance_2{
    background: url(https://randstaddirect.gr8people.com/index.gp?method=cappservices.getPublicImage&cdn=f61853e4190dcb30ec32a100ef7166d86a7d966b&cid=248&type=1);
}

.prod-management{
    background: url(https://randstaddirect.gr8people.com/index.gp?method=cappservices.getPublicImage&cdn=0a8ca1b8826b3dcf51bb84ba2af2669a208c0a01&cid=248&type=1);
}

.prod-management_2{
    background: url(https://randstaddirect.gr8people.com/index.gp?method=cappservices.getPublicImage&cdn=3ee92338d10be239e5ac521aa789535b73beb2bb&cid=248&type=1);
}
.hero h1.headline {
	color: #fff;
    letter-spacing: -3px;
}

.hero h4.headline {
    margin-top: 20px;
	  color: #fff;
}

h1.letter-spacing {
 letter-spacing:-1px;
}

h1.letter-spacing-3 {
 letter-spacing:-3px;
}

.hero .container {
    padding-right: 0px;
    padding-left: 0px;
}

.hero .subheadline {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* ******************************* */
/* ********* JUMBOTRON *********** */
/* ******************************* */
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: var(--bg-color-primary);
    border-radius: 0rem;
}

.jumbotron h2 {
    color: var(--text-color-blue);
    font-weight: 400;
}

.jumbotron-container .container {
    padding-right: 0px;
    padding-left: 0px;
}

/* ********** CTA ************ */

.cta {
    padding: 15px;
    background-color: var(--bg-color-primary);
}

.cta h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--text-color-primary);
}

a.custom-button {
    text-decoration: none;
}

/* ******************************* */
/* ************ BUTTON *********** */
/* ******************************* */
.custom-button {
    display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    background-color:#0F1941;
    border: 1px solid transparent;
    padding: 15px 30px;
    margin-right: 20px;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: .35rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-button-white {
    display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    background-color:#FFFFFF;
    border: 1px solid transparent;
    padding: 15px 30px;
    margin-right: 20px;
    font-size: 15px;
    line-height: 1.5rem;
    border-radius: 4px;
    text-decoration: none;

    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-button.darkpurple{
      background-color: #0F1941;
          color: #fff;
}
.reverse{
  color: #fff;
  background-color: transparent;
  border: 1px solid;
  border-color: #fff;
}

.reverse.darkpurple{
    background-color: transparent;
    color: #0F1941;
    border-color: #0F1941;
}

.custom-button.reverse.darkpurple:hover{
    background-color: #0F1941;
    color: #fff;

}
.custom-button:hover {
    color: #fff;
    background-color: transparent;
    border: 1px solid;
    border-color: #fff;
}

.custom-button.darkpurple:hover{
      background-color: #fff;
      color: #0F1941;
}

.custom-button-white:hover{
  background-color:#0F1941;
  border: 1px solid transparent;
  padding: 15px 30px;
  color: #fff;
}

.reverse:hover {
    color: #000;
    background-color: var(--bg-button-primary);
    border: 1px solid transparent;
    border-color: #fff;
}
/* ******************************* */
/* ************* CARD ************ */
/* ******************************* */
.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0px;
    margin-right: 30px;
}

.row .card:last-of-type {
    margin-right: 0px;
}

.col.card.three-column h3{
  padding-top: 20px;
}

.industrial_2 .container .row {
  justify-content: flex-end;
}

/* ******** card with background color ********** */
.card.background {
    background-color: var(--bg-color-primary);
}

.card.two-column {
    flex-basis: 40%;
}

.two-column li:after {
    content: "\2192";
    color: #2175D9;
	  padding-right: 20px;
	  float: right;
}

.card.three-column {
    flex-basis: 31%;
}

.card.four-column {
    flex-basis: 24%;
}

.card-body {
    padding: 50px 10px 10px 10px;
}

.card-container {
    display: flex;
    flex-wrap: nowrap;
}
.bg-primary {
    background-color: var(--bg-color-primary)!important;
}


.card h3 {
    font-weight: 400;
}

.card.background h3 {
    color: #555e;
}

.card p {
    color: #000;
    font-weight: 400;
}

.card.background p {
    color: #000;
}

.card img {
    width: 100%;
}

.card img.icon {
    max-width: 120px;
}

/* ******************************* */
/* ******** MEDIA OBJECT ********* */
/* ******************************* */
  .media {
    display: flex;
    align-items: flex-start;
    align-items: center;
    background: #F6F3EB;
    padding: 1em;
    max-width: 600px;
    margin-bottom: 20px;
  }
  .media-object {
    margin-right: 1em;
    max-width: 200px;
  }
  .media-body {
    flex: 1;
    justify-items: center;
  }
  .media h3 {
    margin: 0 0 .5em;
    color: #337ab7;
    font-weight: 400;
  }

.media p {
    font-weight: 400;
    margin: 0px 0 0 0;
  }

.media-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.media-col-2 {
    flex-basis: 45%;

}

.media-col-2a {
    flex-basis: 49%;

}
.media-col-3 {
    flex-basis: 32%;

}

.media-row-centered {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.media-col-2-centered {
    flex-basis: 48%;
    margin-right: 15px;
}

.media-col-3-centered {
    flex-basis: 31%;
    margin-right: 15px;
}

/* ******* MEDIA WITH DARK BACKGROUND ******** */
.media.dark-bg {
    background: #aaa;
}

.media.dark-bg h3 {
    color: #fff;
}

.media.dark-bg p {
    color: #eee;
}


/* ******************************* */
/* ***** TEXT WITH BIG IMAGE ***** */
/* ******************************* */
.text-with-big-image .text.col {
    display: flex;
    padding-right: 40px;
}

.text-with-big-image .col img {
    max-width: 100%;
}


.text-with-big-image .text.col.one-fourth h3 {
    color: var(--bg-color-blue);
    font-weight:normal;
    margin-top: 5px;
}

.text-with-big-image .text.col.two-thirds h2 {
    color: var(--bg-color-primary);
    font-weight: normal;
    margin-top: 0px;
}


/* ******************************* */
/* ******** BLOCKQUOTE *********** */
/* ******************************* */
blockquote {
  background: var(--bg-primary);
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: var(--text-color-primary);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
blockquote p.name {
  display: block;
  font-weight: 700!important;
  margin-bottom: 0;
}
blockquote p.role {
  display: block;
  font-style: italic;
  margin: 0;
}

/* ******************************* */
/* ********** FOOTER ************* */
/* ******************************* */
footer {
    margin-top: 40px;
    background-color: #0F1941;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 0px 80px 0px;
    align-items: center;
}

.footer-col:first-of-type {
    flex: 1;
    max-width: 230px;
}

.footer-col-social {
    flex: 1;
    min-width: 250px;
}

.socials img {

	height: 30px;
  margin-right: 8px;
}


.footer-col-logo {
    max-width: 150px;
    min-width: 150px;
    justify-content: right;
}


.footer-logo img{
   height: 20px;
}

footer a:hover {
    color: #eee;
}


/* ******************************* */
/* ***** RESPONSIVE MOBILE ******* */
/* ******************************* */
@media (max-width: 767px) {

/* ********* General ********** */
    section {
      margin: 50px 0px 50px 0px;
    }

    .container  {
        padding-right: 15px;
        padding-left: 15px;
    }
    h2 {
      font-size: 34px;
      line-height: 45px;
      letter-spacing: -1px;
    }

    .row, .row.list-border {
      display: block;
    }

    .row.list-border ul {
      margin: 0px;
    }

    .row.list-border li {
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .row.list-border .card {
      margin-top: 0px;
    }

/* ************* NAV ************* */
    .navbar {
      padding: 15px 0;
    }
    .navbar-menu a {
      font-size: 18px;
}
    .navbar-menu a:last-of-type {
      margin-left: 0px;
    }
/* ************* HERO ************* */

    section.hero {
        background: #CC1F27;
        height: auto;
    }

    section.hero.industrial {
        background-image: none;
        background: #13A2C3;
    }

    section.hero.industrial_2 {
        background-image: none;
        background: #F5D310;
    }

    section.hero.data_3 {
        background-image: none;
        background: #05C4D3;
    }

    section.hero.prod-management {
        background-image: none;
        background: #0C8BB9;
    }

    section.hero.prod-management_2 {
        background-image: none;
        background: #0D6EA7;
    }

    section.hero.data {
        background-image: none;
        background: #2C74DB;
    }

    section.hero.data_2 {
        background-image: none;
        background: #F6B414;
    }

    section.hero.finance {
        background-image: none;
        background: #0867A4;
    }

    section.hero.finance_2 {
        background-image: none;
        background: #F5D310;
    }

    section.hero.it {
        background-image: none;
        background: #21B0CD;
    }

    section.hero.it_2 {
        background-image: none;
        background: #B8ECEE;
    }

    .hero .container {
      padding-left: 15px;
      padding-right: 15px;
    }

    .hero .container .padding-80 {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .hero .container .media-col-2 {
      flex-basis: 100%;
    }

    .hero h1.headline {
      font-size: 40px;
      line-height: 50px;
      letter-spacing: -1px;
    }

/* *********** MEDIA ************* */
    .media-row {
        display: block;
    }
    .media-row-centered {
        display: block;
    }
    .media-col-2-centered {
        margin-right: 0px;
    }
    .media-object {
        max-width: 100px;
    }
    .card-container {
        display: block;
    }
    .card {
      margin-right: 0px;
      margin-top: 20px;
    }

    .card-body {
      padding: 15px 0px 15px 0px;
    }

    .card-body p {
      margin-top: 15px;
      margin-bottom: 15px;
    }
/* ********** JUMBOTRON ************ */
    .jumbotron {
        padding: 15px;
    }

    .jumbotron h2 {
        margin-bottom: 20px;
    }
     /* ********** logo ************* */
    .navbar-brand img {
        height: 20px;
    }
    /* ******* TEXT WITH BIG IMAGE ****** */
    section.text-with-big-image .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .text-with-big-image .row {
        display: block;
    }
    .text-with-big-image img {
        width: 100%;
    }

    .text-with-big-image .text.col {
      display: block;
      padding-right: 0px;
    }

    /* ************ custom button *** */
    .custom-button, .custom-button-white {
      padding: 10px 20px;
    }

    /* ************ footer ****** */
    .footer-row {
      display: block;
    }
    .footer-col .socials {
      margin-bottom: 15px;
    }

    /* ******** hide on mobiée * ********** */
    .hide-mobile {
      display: none;
    }

    /* ******* GR8P styling ********** */
    .portal-container-columns {
      padding-right: 15px;
      padding-left: 15px;
    }

    /* ******** LIST **** */
    .list-background li {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 0px;
    }

    .list-background li a {
       font-size: 18px;
    }


}
